<div class="about-section">
  <img src="assets/img/fav-icon.png">
  <h1>findMovies v{{ version }}</h1>
  <p>
      The findMovies application is a movie and TV application providing
      respective torrents for downloading and watching offline. Every movie
      and TV is linked with the best available torrents at different sizes.
      The findMovies application is designed and maintained with love by
      <a href="https://github.com/OCCULT705" target="_blank">Amini Technology Solutions</a> and guided under the  MIT license.
  </p>
  <p>
      Special thanks to <a href="https://www.themoviedb.org" target="_blank">The Movie Database(TMDB)</a>, <a href="http://www.omdbapi.com" target="_blank">The Open Movie Database(OMDB)</a>,
      <a href="https://github.com/Ryuk-me/Torrents-Api" target="_blank">Ryuk-me</a> and <a href="https://github.com/tuhinpal/imdb-api" target="_blank">Tuhinpal</a> for their respective APIs being used by this application.
  </p>
</div>
