<div class="about-section">
  <img src="assets/img/fav-icon.png">
  <h1>findMovies v{{ version }}</h1>
  <p style="text-align: justify;margin-bottom: 12px;">
      This site is your ultimate destination for discovering and exploring 
      a vast catalog of movies and TV shows. Our web application offers an 
      extensive library with detailed information about your favorite films 
      and series.
  </p>
  <p style="text-align: justify;margin-bottom: 12px;">
      With an intuitive interface, you can easily search for and view comprehensive 
      details including synopses, cast and crew information, ratings, and more. 
      Additionally, this site provides direct access to torrent links, making it 
      convenient for you to find and download content you love.
      The findMovies application is designed and maintained with love by
      <a href="{{ github }}" target="_blank">Amini Technology Solutions</a> and 
      guided under the  MIT license.
  </p>
  <p style="text-align: justify;">
      Sincere gratitude is extended to <a href="{{ tmdb }}" target="_blank">The Movie Database(TMDB)</a>, <a href="{{ omdb }}" target="_blank">The Open Movie Database(OMDB)</a>, and 
      <a href="{{ torrent }}" target="_blank">Neeraj Kumar</a> for their valuable APIs, which have significantly contributed to the development of this application.
  </p>
</div>
