<mat-list>
  <div *ngFor="let torrent of torrents; index as i; trackBy: trackByFn">
    <div mat-subheader>
      <span style="font-weight: bold;" [style.color]="torrent.enphasis">{{ torrent.release_format_type }}</span>
    </div>
    <mat-list-item matRipple *ngFor="let file of torrent.files;" (click)="copy(file)">
      <h3 matLine>{{ file.Name }}</h3>
      <p matLine>
        <span class="badge badge-o">
          <i class="fas fa-hdd"> {{ calibrateMeasure(file.Size) }}&nbsp;&nbsp;</i>
        </span>
        <span class="badge badge-bg">
          <i class="fas fa-upload"> {{ calibrateMeasure(file.Seeders) }}&nbsp;&nbsp;</i>
        </span>
        <span class="badge badge-o">
          <i class="fas fa-desktop"> {{ determineResolution(file.Name) }}</i>
        </span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
